.git
.gitignore
.gitattributes
.idea
.vscode
.claude
.env
.env.*
!.env.example

vendor
node_modules

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore

tests/coverage
phpunit.cache
.phpunit.result.cache
